h1 {
  color: purple;

  /* A BORDER HAS 3 ELEMENTS: */
  border-color: purple;
  border-width: 5px;
  border-style: solid; 

  /* OTHER WAY */
  /* border: 2px dashed rgb(255,100,80); */
}

h1 {
  color: rgba(0, 200, 100, .7);
}

h4{
  background: rgb(255,100,80);
}

body{
  color: grey;

  /* background:url(/Users/matheus/Library/Mobile\ Documents/com\~apple\~CloudDocs/Documentos/beatriz/PHOTO-2019-01-24-22-30-14\ 7.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

li {
  color: blue;
}