<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.google.com/recaptcha/api.js?render=6LfQhsEUAAAAAHDEZLdAba-Vv-x0VAQxBRGIlk16"></script>
  <title>reCaptcha v3</title>
</head>

<body>

  <% include partials/form %>
  
</body>
</html>