<div id="login">   
  <h1> Bem vindo novamente</h1>
  
  <form action="http://localhost:4000/auth/authenticate" method="post">
  
    <div class="form__content">
      <label class="form__content--label"> Email </label class="form__content--label">
      <input type="email" name="email" required autocomplete="off"/>
    </div>
  
  <div class="form__content">
    <label class="form__content--label"> Senha </label class="form__content--label">
    <input type="password" name="password" required autocomplete="off"/>
  </div>
  
  <p class="forgot"><a href="#">Esqueceu a senha?</a></p>
  
  <button class="button button-block"/>Log In</button>
  
  </form>

</div>