<% include partials/header %>

<h1>You're on a test.ejs file</h1>

<% if(thingVar.toLowerCase() === 'matheus') { %>
  <p> Good morning Sir, how can I help you? </p>
<% } %>
<!-- Every Js code must be between <% %> -->

<h3>Be Welcome <%= thingVar %></h3>

<% include partials/footer %>
